<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
		
		
		
		<bean id = "userDAOImpl" class = "com.dao.UserDAOImpl">
			<property name="sessionFactory" ref = "sessionFactory"/>
		</bean>
		
		<bean id = "userServiceImpl" class = "com.service.UserServiceImpl">
			
			<property name="userDAOImpl" ref = "userDAOImpl"/>
		
		</bean>
		
		
		<bean id = "orderManagerDAOImpl" class = "com.dao.OrderManagerDAOImpl">
		    <property name="sessionFactory" ref = "sessionFactory"/>
		</bean>
		
		<bean id = "orderManagerServiceImpl" class = "com.service.OrderManagerServiceImpl">
		   <property name="orderManagerDAOImpl"  ref = "orderManagerDAOImpl"/>
		</bean>
		
		
		
		
	    
	     <bean id = "addOrder" class = "com.user.action.AddOrderAction" scope = "prototype">
	        
	         <property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	     
	     </bean>
	     
	     <bean id = "userQueryAllOrder" class = "com.user.action.UserManagerOrderAction" scope = "prototype">
	          <property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	     </bean>
	     
	     
	      <bean id = "userQueryOrderDetail" class = "com.user.action.UserManagerOrderAction" scope = "prototype">
	          <property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	     </bean>
	     
	      <bean id = "userDeleteUnProcessOrder" class = "com.user.action.UserManagerOrderAction" scope = "prototype">
	          <property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	     </bean>
	     
	   
	     
	     
	
	    
		<bean id = "registerAction" class = "com.user.action.RegisterAction" scope = "prototype">
		<property name="userServiceImpl" ref = "userServiceImpl"/>
		
		</bean>
		
		<bean id = "userLoginAction" class = "com.user.action.UserLoginAction" scope = "prototype">
		
		   <property name="userServiceImpl" ref = "userServiceImpl"/>
		</bean>
		
		  <bean id = "updateUserInfoForm" class = "com.user.action.UserInfoManagerAction" scope = "prototype" >
		      <property name="userServiceImpl" ref = "userServiceImpl"/>
		  
		  </bean>
		
	
		<bean id = "userViewBooks" class = "com.user.action.UserViewBooksAction" scope = "prototype">
			
			<property name="bookServiceImpl" ref = "bookServiceImpl"/>
		
		</bean>
		
		<bean id = "userQueryByBookName"  class = "com.user.action.UserViewBooksAction" scope = "prototype">
		     
		     <property name="bookServiceImpl" ref = "bookServiceImpl"/>
		     
		</bean>
		
		<bean id = "userQueryByBookType"  class = "com.user.action.UserViewBooksAction" scope = "prototype">
		    
		    <property name="bookServiceImpl" ref = "bookServiceImpl"/>
		    
		</bean>
		
		
		<bean id = "userViewBooksDetail" class = "com.user.action.UserViewBooksDetailAction" scope = "prototype">
		    <property name="bookServiceImpl" ref = "bookServiceImpl"/>
		</bean>
		
		<bean id = "viewCart" class = "com.user.action.CartAction" scope = "prototype">
		     <property name="bookServiceImpl" ref = "bookServiceImpl"/>	
		</bean>
		
	
	     <bean id = "updateBookQuantity" class = "com.user.action.UpdateBookQuantityAction" scope = "prototype">
		     <property name="bookServiceImpl" ref = "bookServiceImpl"/>	
		</bean>
		
		<bean id = "cancelOder" class = "com.user.action.CancelOderAction" scope = "prototype">
		     <property name="bookServiceImpl" ref = "bookServiceImpl"/>	
		</bean>
		
		
		
		
		
		
		
		
		
		
		
		<bean id = "adminDAOImpl" class = "com.dao.AdminDAOImpl">
			<property name="sessionFactory" ref = "sessionFactory"/>
		</bean>
		
		<bean id = "adminServiceImpl" class = "com.service.AdminServiceImpl">
		   <property name="adminDAOImpl" ref = "adminDAOImpl"/>
		</bean>
		
		<bean id = "adminLoginAction" class = "com.admin.action.AdminLoginAction" scope = "prototype">
		   <property name="adminServiceImpl" ref = "adminServiceImpl"/>
		</bean>
		
		
		
		
		 <bean id = "adminViewAllOrder" class = "com.admin.action.AdminManageOrderAction"  scope = "prototype">
	         
	         <property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	     
	     </bean>
	     
	     <bean id = "adminViewOrderDetail" class = "com.admin.action.AdminManageOrderAction" scope = "prototype">
	     	<property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	     </bean>
	     
	     <bean id = "adminProcessOrders" class = "com.admin.action.AdminManageOrderAction" scope = "prototype">
	     	<property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	     </bean>
	     
	     
	     <bean id = "adminViewUsers"  class = "com.admin.action.ManagerUserAction" scope = "prototype">
	     	<property name="userServiceImpl" ref = "userServiceImpl"/>
	     </bean>
		
		
		
		<bean id = "bookTypeDAOImpl" class = "com.dao.BookTypeDAOImpl">
			<property name="sessionFactory" ref = "sessionFactory"/>
		</bean>
		
		<bean id = "bookTypeServiceImpl" class = "com.service.BookTypeServiceImpl">
		  <property name="bookTypeDAOImpl" ref = "bookTypeDAOImpl"/>
		</bean>
		
	    <bean id = "addBookTypes" class = "com.admin.action.AddBookTypesAction" scope = "prototype">
			<property name="bookTypeServiceImpl" ref = "bookTypeServiceImpl"/>
		
		</bean>
		

		
		
		<bean id = "bookDAOImpl" class = "com.dao.BookDAOImpl">
			<property name="sessionFactory" ref = "sessionFactory"/>
		</bean>
		
		<bean id  = "bookServiceImpl" class = "com.service.BookServiceImpl">
			<property name="bookDAOImpl" ref = "bookDAOImpl"/>
		</bean>
		
		<bean id = "addBooks" class = "com.admin.action.AddBookAction" scope= "prototype">
			<property name="bookServiceImpl" ref = "bookServiceImpl"/>
		</bean>
		
        <bean id = "viewBooks" class = "com.admin.action.ViewBooksAction" scope = "prototype">
        	<property name="bookServiceImpl" ref = "bookServiceImpl"/>
        </bean>
        
         <bean id = "queryByBookName" class = "com.admin.action.ViewBooksAction" scope = "prototype">
        	<property name="bookServiceImpl" ref = "bookServiceImpl"/>
        </bean>
         <bean id = "queryByBookType" class = "com.admin.action.ViewBooksAction" scope = "prototype">
        	<property name="bookServiceImpl" ref = "bookServiceImpl"/>
        </bean>
        
        <bean id = "viewBookDetail" class = "com.admin.action.ViewBooksDetailAction"  scope = "prototype">
            <property name="bookServiceImpl" ref = "bookServiceImpl"/>
        </bean>
        
        <bean id = "deleteBookById" class = "com.admin.action.DeleteBookAction" scope = "prototype">
          <property name="bookServiceImpl" ref = "bookServiceImpl"/>    
        </bean>
        
         <bean id = "updateBookInfo" class = "com.admin.action.QueryBookByIdAction" scope = "prototype">
        	<property name="bookServiceImpl" ref = "bookServiceImpl"/>   
        </bean>
        
        <bean id = "updateBookInfoForm" class = "com.admin.action.UpdateBookInfoAction" scope = "prototype">
        	<property name="bookServiceImpl" ref = "bookServiceImpl"/>   
        </bean>

</beans>
